// Colors
$background-color: #fff;
$color-primary-light: #ca3782;
$color-primary-dark: #1e0b36;
$color-black: #000;
$color-gray-dark: #aaa;
$color-gray-light: #eee;
$color-white: #fff;

// Mixins
@mixin absCenter {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

@mixin flexCenter {
 flex-flow: row;
 align-items: center;
 justify-content: space-around;

}

@mixin respond($breakpoint) {
 @if $breakpoint == phone {
  @media (max-width: 37.5em) {
   @content;
  } // < 600px
 }
 @if $breakpoint == tab-port {
  @media (max-width: 56.25em) {
   @content;
  } // < 900px
 }
 @if $breakpoint == tab-land {
  @media (max-width: 75em) {
   @content;
  } // < 1200px
 }
 @if $breakpoint == big-desktop {
  @media (min-width: 112.5em) {
   @content;
  } // > 1800px
 }
}

/* Reset */
*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 // 10px as 1rem.
 font-size: 62.5%;

 @include respond(tab-land) {
  // width < 1200?
  font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
 }
 @include respond(tab-port) {
  // width < 900?
  font-size: 50%; // 1rem = 8px, 8/16 = 50
 }
 @include respond(big-desktop) {
  font-size: 100%; // 1 rem = 12px, 12/16 = 75
 }
}

body {
 height: 100vh;
 background-color: $background-color;
}

.artboard {
 display: flex;
 @include flexCenter;
 padding: 4rem;
 height: 100%;
 position: relative;
 flex-direction: row;
 flex-wrap: wrap;

 @include respond(phone) {
  padding: 1rem;
 }
}

.card {
 flex: initial;
 position: relative;
 height: 28rem;
 width: 24rem;
 -moz-perspective: 200rem;
 perspective: 200rem;
 margin: 2rem;

 &__side {
  height: 30rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden; /* We don't want to see the back part of the element. */
  backface-visibility: hidden; /* We don't want to see the back part of the element. */
  border-radius: 45px;
  overflow: hidden; /* The image is overflowing the parent. */
  box-shadow: 0 2rem 6rem rgba($color-black, 0.35);

  &--front {
   background-color: #f2f2f2;
  }

  &--back {
   background-color: $color-white;
   transform: rotateY(180deg);
  }
 }

  .free {
    background-color: #f2f2f2;
    color: #000;
  }
  .basic {
    background-color: #fe4e65;
    color: #fff;
  }
  .Standard_a {
    background-color: #d6424e;
    color: #fff;
  }
  .Standard_b {
    background-color: #d6424e;
    color: #fff;
  }
  .premium {
    background-color: #362e2e;
    color: #fff;
  }
  .premium20 {
    background-color: #362e2e;
    color: #fff;
  }


 &:hover &__side--back {
  transform: rotateY(0);
 }
 &:hover &__side--front {
  transform: rotateY(-180deg);
 }

 // Front side of the card
 &__theme {
  @include absCenter;
  top: 54%;
  width: 90%;
  text-align: center;
 }

 &__theme-box-black {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
  color: black;
 }
 &__theme-box-white {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
  color: white;
 }


 &__subject {
  font-family: "Noto Sans CJK KR";
  letter-spacing: 0.3rem;
  font-size: 1.52rem;
  text-transform: uppercase;
  //margin-bottom: 1rem;
 }

 &__title {
  font-family: "Noto Sans CJK KR";
  text-transform: uppercase;
  font-size: 5rem;
 }
 
 // Back side of the card
 &__cover {
  position: relative;
  background-size: cover;
  height: 6rem;
  //background-blend-mode: screen;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  //clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
 }

 &__heading {
  text-align: center;
  color: $color-white;
  @include absCenter;
  width: 75%;
 }

 &__heading-span-black {
  font-family: "Noto Sans CJK KR";
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #000;
 }

 &__heading-span-white {
  font-family: "Noto Sans CJK KR";
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
 }

 &__details {
  font-family: "Noto Sans CJK KR";
  padding: 2rem 2rem;
  ul {
   list-style: none;
   width: 80%;
   margin: 0 auto;

   li {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;

    // &:not(:last-child) {
    //  border-bottom: 1px solid $color-gray-light;
    // }
    text {
      text-align: left;
    }
   }
  }
 }
 

 // Responsivity
 @media only screen and (max-width: 37.5em), only screen and (hover: none) {
  height: auto;
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

  &__side {
   height: auto;
   position: relative;
   box-shadow: none;

   &--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
   }

   &--back {
    transform: rotateY(0);
   }
  }

  &:hover &__side--front {
   transform: rotateY(0);
  }

  &__details {
   padding: 3rem 2rem;
  }

  // Front side responsive styling
  &__theme {
   position: relative;
   top: 0;
   left: 0;
   transform: translate(0);
   width: 100%;
   padding: 5rem 4rem 1.5rem 4rem;
   text-align: right;
  }

  &__theme-box {
   margin-bottom: 1.5rem;
  }

  &__title {
   font-size: 5rem;
  }
 }
 .itemIcon {
   padding-right: 20px;
 }

}







.card-large {
 flex: initial;
 position: relative;
 height: 28rem;
 width: 70rem;
 -moz-perspective: 200rem;
 perspective: 200rem;
 margin: 2rem;

 &__side {
  height: 30rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden; /* We don't want to see the back part of the element. */
  backface-visibility: hidden; /* We don't want to see the back part of the element. */
  border-radius: 45px;
  overflow: hidden; /* The image is overflowing the parent. */
  box-shadow: 0 2rem 6rem rgba($color-black, 0.35);

  &--front {
   background-color: #f2f2f2;
  }

  &--back {
   background-color: $color-white;
   transform: rotateY(180deg);
  }
 }

  .create {
    background-color: #fff;
  }


 &:hover &__side--back {
  transform: rotateY(0);
 }
 &:hover &__side--front {
  transform: rotateY(-180deg);
 }

 // Front side of the card
 &__theme {
  @include absCenter;
  top: 54%;
  width: 90%;
  text-align: center;
 }

 &__theme-box-black {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
  color: black;
 }


 &__subject {
  font-family: "Noto Sans CJK KR";
  letter-spacing: 0.3rem;
  font-size: 2rem;
  text-transform: uppercase;
  //margin-bottom: 1rem;
 }

 &__title {
  font-family: "Noto Sans CJK KR";
  text-transform: uppercase;
  font-size: 5rem;
 }
 
 // Back side of the card
 &__cover {
  position: relative;
  background-size: cover;
  height: 6rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
 }

 &__heading {
  text-align: center;
  color: $color-white;
  @include absCenter;
  width: 75%;
 }

 &__heading-span-black {
  font-family: "Noto Sans CJK KR";
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #000;
 }

 &__details {
  font-family: "Noto Sans CJK KR";
  padding: 4rem 2rem;
  ul {
   list-style: none;
   width: 80%;
   margin: 0 auto;

   li {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;

    // &:not(:last-child) {
    //  border-bottom: 1px solid #000;
    // }
   }
  }
 }

 // Responsivity
 @media only screen and (max-width: 37.5em), only screen and (hover: none) {
  height: auto;
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

  &__side {
   height: auto;
   position: relative;
   box-shadow: none;

   &--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
   }

   &--back {
    transform: rotateY(0);
   }
  }

  &:hover &__side--front {
   transform: rotateY(0);
  }

  &__details {
   padding: 3rem 2rem;
  }

  // Front side responsive styling
  &__theme {
   position: relative;
   top: 0;
   left: 0;
   transform: translate(0);
   width: 100%;
   padding: 5rem 4rem 1.5rem 4rem;
   text-align: right;
  }

  &__theme-box {
   margin-bottom: 1.5rem;
  }

  &__title {
   font-size: 5rem;
  }
 }
 .itemIcon {
   padding-right: 20px;
 }
}
